@import "tailwindcss";

@source "../../src";

@theme {
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  @apply font-inter;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
