@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  @apply font-inter;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
